.img{
    display:flex;
    justify-content: space-between;
    margin:10px;
    margin-bottom:-5px;
}

.img .logo{
    width: 90px;
    height: 80px;
}

.img .user{
    width: 60px;
    height:70px;
}
.nav-line{
    height:78px;
    background-color:#FFF6A6;
}